*{
    margin: 0;
    padding: 0;
}

html{
	box-sizing: border-box;
}
*, *:before, *:after{    
	box-sizing: inherit;
}

body{
    background: #11708d;
}

.formulario{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background: white;
    width: 18rem;
    height: 23rem;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 550px) {
    form{
        width: 25rem;
        height: 25rem;
    }
}

h1{
    color: #11708d;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.dato{
    margin-bottom: 1rem;
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid rgb(131, 131, 131);
    outline: none;
}

.boton{
    background: #11708d;
    width: 100%;
    color: white;
    border: none;
    text-align: center;
    padding: .5rem 0;
    border-radius: 10rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
p{
    text-align: center;
}
    
p a{
    color: #11708d;
}











